# ----------------------------
# DATASETS (DO NOT PUSH)
# ----------------------------
online_retail_II.xlsx

# ----------------------------
# DATABASE FILES
# ----------------------------
*.db
*.sqlite
*.sqlite3

# ----------------------------
# MACHINE LEARNING MODELS
# ----------------------------
*.pkl
*.joblib

# ----------------------------
# PYTHON CACHE FILES
# ----------------------------
__pycache__/
*.py[cod]

# ----------------------------
# ENVIRONMENT FILES
# ----------------------------
.env
.venv/
venv/
env/

# ----------------------------
# JUPYTER NOTEBOOK CHECKPOINTS
# ----------------------------
.ipynb_checkpoints/

# ----------------------------
# OS FILES
# ----------------------------
.DS_Store
Thumbs.db

# ----------------------------
# EDITOR SETTINGS
# ----------------------------
.vscode/

# ----------------------------
# LOGS & TEMP FILES
# ----------------------------
*.log
*.tmp